{
    "openapi": "3.1.0",
    "info": {
      "title": "OpenAPI Super APIs",
      "description": "Documentação das APIs destinada a companhias da Super Pagamentos",
      "license": {
        "name": "MIT"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://sandbox.superpagamentos.com"
      }
    ],
    "paths": {
      "/auth": {
        "post": {
          "description": "A rota `/auth` gera tokens JWT com duração de 3600 segundos. Com esses tokens é possível autenticar as demais rotas da aplicação para.\n\n Recomenda-se **nunca armazenar as chaves em ambientes front-end**, sempre utilizar em **ambientes protegidos por um certificado SSL** e **NUNCA compartilhar suas credenciais** com outras pessoas (nem mesmo do Suporte da Super).",
          "requestBody": {
            "description": "Gere um token de autenticação JWT (Json Web Tokens) com duração de 3600s utilizando a sua Public Key e Secret Key. Esse token será utilizado para autenticar as demais APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authenticate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Autenticação realizada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "description": "Esse token será utilizado para autenticar as demais APIs.",
                            "type": "string",
                            "example": "<access_token>"
                          },
                          "refresh_token": {
                            "description": "Esse token será utilizado para atualizar o token de acesso.",
                            "type": "string",
                            "example": "<refresh_token>"
                          },
                          "expires_in": {
                            "description": "Duração do token de acesso em segundos.",
                            "type": "string",
                            "example": "3600s"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Usuário autenticado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/authenticateErrorResponse"
                  },
                  "examples": {
                    "Credenciais inválidas": {
                      "value": {
                        "data": {
                          "message": "As credenciais fornecidas são inválidas",
                          "returnCode": -1000
                        }
                      }
                    },
                    "Campos não informados": {
                      "value": {
                        "data": {
                          "message": [
                            "A privateKey está em um formato incorreto",
                            "privateKey must be a string"
                          ],
                          "error": "Bad Request",
                          "statusCode": 400
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },

      "/bank_accounts": {
        "post": {
          "description": "Crie uma nova conta bancária para a empresa.\n\nA criação de uma conta bancária é **essencial para realizar saques** dos valores recebidos através da Super Pagamentos. \n\n**Importante:** A conta bancária deve obrigatoriamente pertencer ao mesmo titular/CNPJ da conta na Super Pagamentos. Contas bancárias de terceiros não são aceitas por questões de segurança e conformidade.\n\n**Tipos de conta aceitos:**\n- Conta Corrente\n- Conta Poupança\n\n**Documentação necessária:**\n- A conta bancária deve estar no mesmo nome/CNPJ cadastrado na Super Pagamentos\n- Todos os dados bancários devem estar corretos e atualizados\n\n**Operação em subconta:**\nPara criar uma conta bancária em uma subconta específica, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "requestBody": {
            "description": "Dados necessários para criação de uma conta bancária",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createBankAccount"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Conta bancária criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Campos não informados": {
                      "value": {
                        "data": {
                          "message": [
                            "O nome do beneficiário \"holderName\" deve ser um texto válido",
                            "O nome do beneficiário \"holderName\" é obrigatório",
                            "O código do banco \"bankCode\" deve ser um texto válido",
                            "O código do banco \"bankCode\" é obrigatório",
                            "O tipo de conta \"accountType\" deve ser CHECKING ou SAVINGS",
                            "O tipo de conta \"accountType\" é obrigatório",
                            "O número da conta \"accountNumber\" deve estar no formato conta-dv (ex: 12345-6)",
                            "O número da conta \"accountNumber\" deve ser um texto válido",
                            "O número da conta \"accountNumber\" é obrigatório",
                            "O número da agência \"routingNumber\" deve estar no formato agência-dv (ex: 0001-0)",
                            "O número da agência \"routingNumber\" deve ser um texto válido",
                            "O número da agência \"routingNumber\" é obrigatório",
                            "O documento \"document\" deve ser um texto válido",
                            "O documento \"document\" (CPF/CNPJ) é obrigatório"
                          ],
                          "error": "Bad Request",
                          "statusCode": 400
                        }
                      }
                    },
                    "Erro genérico": {
                      "value": {
                        "data": {
                          "message": "Erro ao criar conta bancária. Verifique os dados informados ou entre em contato com o suporte.",
                          "returnCode": -7000
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "get": {
          "description": "Lista todas as contas bancárias cadastradas para a empresa. A resposta inclui informações detalhadas de cada conta, como dados do titular, dados bancários e status da conta. Os resultados são paginados para melhor performance.\n\n**Operação em subconta:**\nPara listar as contas bancárias de uma subconta específica, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Número da página que deseja visualizar",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1,
                "minimum": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Quantidade de itens por página",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 1,
                "maximum": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Listagem de contas bancárias",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/listBankAccountsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/bank_accounts/{bankAccountId}": {
        "get": {
          "description": "Busca os dados de uma conta bancária específica que pertence à empresa cadastrada. A resposta inclui informações detalhadas da conta, como dados do titular, dados bancários e status da conta.\n\n**Operação em subconta:**\nPara buscar uma conta bancária específica de uma subconta, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "bankAccountId",
              "in": "path",
              "description": "Identificador único da conta bancária",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Conta bancária encontrada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getBankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao buscar conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Conta não encontrada": {
                      "value": {
                        "data": {
                          "message": "Conta bancária não encontrada",
                          "returnCode": -7100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "description": "Remove uma conta bancária específica que pertence à empresa cadastrada. Esta operação é irreversível e deve ser utilizada com cautela.\n\n**Operação em subconta:**\nPara deletar uma conta bancária específica de uma subconta, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "bankAccountId",
              "in": "path",
              "description": "Identificador único da conta bancária",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Conta bancária deletada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/deleteBankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao deletar conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Conta não encontrada": {
                      "value": {
                        "data": {
                          "message": "Conta bancária não encontrada",
                          "returnCode": -7100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts/pf": {
        "post": {
          "description": "Cria uma nova subconta do tipo Pessoa Física. Com esta subconta, você poderá gerenciar contas bancárias, clientes, planos, assinaturas e realizar split de pagamentos de forma independente.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "description": "Dados necessários para criação de uma subconta PF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createSubaccountPF"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Subconta criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountPFResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da subconta",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Erro não mapeado": {
                      "value": {
                        "data": {
                          "message": "Erro ao criar subconta PF",
                          "returnCode": -7302
                        }
                      }
                    },
                    "Subconta já cadastrada": {
                      "value": {
                        "data": {
                          "message": "Esta conta já está cadastrada como subconta para sua companhia",
                          "returnCode": -7300
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Não autorizado",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Não autenticado": {
                      "value": {
                        "data": {
                          "message": "Unauthorized",
                          "statusCode": 401
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts/pj": {
        "post": {
          "description": "Cria uma nova subconta do tipo Pessoa Jurídica. Com esta subconta, você poderá gerenciar contas bancárias, clientes, planos, assinaturas e realizar split de pagamentos de forma independente.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "description": "Dados necessários para criação de uma subconta PJ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createSubaccountPJ"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Subconta PJ criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountPJResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da subconta",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Subconta já cadastrada": {
                      "value": {
                        "data": {
                          "message": "Esta conta já está cadastrada como subconta para sua companhia",
                          "returnCode": -7300
                        }
                      }
                    },
                    "Erro não mapeado": {
                      "value": {
                        "data": {
                          "message": "Erro ao criar subconta PJ",
                          "returnCode": -7302
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Não autorizado",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Não autenticado": {
                      "value": {
                        "data": {
                          "message": "Unauthorized",
                          "statusCode": 401
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts": {
        "get": {
          "description": "Lista todas as subcontas cadastradas para a empresa. A resposta inclui informações detalhadas de cada subconta, como dados do responsável legal, dados jurídicos (para PJ), endereços e status da conta. Os resultados são paginados para melhor performance.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Número da página que deseja visualizar",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1,
                "minimum": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Quantidade de itens por página",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "accountType",
              "in": "query",
              "description": "Filtro por tipo de conta (PF ou PJ)",
              "required": false,
              "schema": {
                "type": "string",
                "enum": ["PF", "PJ"]
              }
            },
            {
              "name": "document",
              "in": "query",
              "description": "Filtro por CPF (para PF) ou CNPJ (para PJ)",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Listagem de subcontas",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/listSubaccountsResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao listar subcontas",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Conta não autorizada": {
                      "value": {
                        "data": {
                          "message": "Conta não autorizada para utilizar as APIs",
                          "returnCode": -1001
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts/{subaccountId}": {
        "get": {
          "description": "Busca os dados de uma subconta específica que pertence à empresa cadastrada. A resposta inclui informações detalhadas da subconta, como dados do responsável legal, dados jurídicos (para PJ), endereços e status da conta.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "subaccountId",
              "in": "path",
              "description": "Identificador único da subconta",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Subconta encontrada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getSubaccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao buscar subconta",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Subconta não encontrada": {
                      "value": {
                        "data": {
                          "message": "Subconta não encontrada",
                          "returnCode": -7301
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
            "description": "Remove uma subconta específica. Esta operação é irreversível e deve ser utilizada com cautela.",
            "security": [
              {
                "bearerAuth": []
              }
            ],
            "parameters": [
              {
                "name": "subaccountId",
                "in": "path",
                "description": "Identificador único da subconta",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            ],
            "responses": {
              "200": {
                "description": "Subconta deletada com sucesso",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "sellerUnicId": {
                              "description": "Identificador único da subconta deletada",
                              "type": "string",
                              "format": "uuid",
                              "example": "d4ec4843-40d0-48e6-91ce-ee5c1116380c"
                            }
                          }
                        },
                        "message": {
                          "type": "string",
                          "example": "Subconta deletada com sucesso"
                        }
                      }
                    }
                  }
                }
              },
              "400": {
                "description": "Erro ao deletar subconta",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/subaccountErrorResponse"
                    },
                    "examples": {
                      "Subconta não encontrada": {
                        "value": {
                          "data": {
                            "message": "Subconta não encontrada",
                            "returnCode": -2800
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
      },
      "/customers": {
        "post": {
          "description": "Cria um novo cliente no sistema. Nenhum campo é obrigatório, exceto os campos do endereço quando informado.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "description": "Nome do cliente",
                      "example": "João"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Sobrenome do cliente",
                      "example": "Silva"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email do cliente",
                      "example": "email@email.com"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Número de telefone do cliente",
                      "example": "00000000000"
                    },
                    "document": {
                      "type": "string",
                      "description": "CPF ou CNPJ do cliente",
                      "example": "00000000000"
                    },
                    "birthdate": {
                      "type": "string",
                      "format": "date",
                      "description": "Data de nascimento do cliente no formato yyyy-mm-dd",
                      "example": "1994-10-04"
                    },
                    "address": {
                      "type": "object",
                      "description": "Endereço do cliente",
                      "properties": {
                        "zipcode": {
                          "type": "integer",
                          "description": "CEP do endereço",
                          "example": 87654321
                        },
                        "street": {
                          "type": "string",
                          "description": "Nome da rua",
                          "example": "Rua B"
                        },
                        "streetNumber": {
                          "type": "integer",
                          "description": "Número do endereço",
                          "example": 200
                        },
                        "complement": {
                          "type": "string",
                          "description": "Complemento do endereço (opcional)",
                          "example": "Casa 10"
                        },
                        "reference": {
                          "type": "string",
                          "description": "Ponto de referência do endereço (opcional)",
                          "example": "Ao lado da padaria"
                        },
                        "neighborhood": {
                          "type": "string",
                          "description": "Bairro do endereço",
                          "example": "Jardins"
                        },
                        "city": {
                          "type": "string",
                          "description": "Cidade do endereço",
                          "example": "São Paulo"
                        },
                        "state": {
                          "type": "string",
                          "description": "Estado do endereço",
                          "example": "SP"
                        }
                      },
                      "required": [
                        "zipcode",
                        "street",
                        "streetNumber",
                        "neighborhood",
                        "city",
                        "state"
                      ]
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Cliente criado com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "8a2edf48-704b-4c23-8278-a902e88a5f93"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "João"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Silva"
                          },
                          "email": {
                            "type": "string",
                            "example": "email@email.com"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "example": "00000000000"
                          },
                          "document": {
                            "type": "string",
                            "example": "00000000000"
                          },
                          "birthdate": {
                            "type": "string",
                            "format": "date",
                            "example": "1994-10-04"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "statusId": {
                                "type": "string",
                                "example": "APPROVED"
                              },
                              "zipcode": {
                                "type": "integer",
                                "example": 87654321
                              },
                              "street": {
                                "type": "string",
                                "example": "Rua B"
                              },
                              "streetNumber": {
                                "type": "integer",
                                "example": 200
                              },
                              "complement": {
                                "type": "string",
                                "example": "Casa 10"
                              },
                              "reference": {
                                "type": "string",
                                "example": "Ao lado da padaria"
                              },
                              "neighborhood": {
                                "type": "string",
                                "example": "Jardins"
                              },
                              "city": {
                                "type": "string",
                                "example": "São Paulo"
                              },
                              "state": {
                                "type": "string",
                                "example": "SP"
                              }
                            }
                          },
                          "statusId": {
                            "type": "string",
                            "example": "APPROVED"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-06-01T16:14:10.535Z"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cliente criado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro na requisição",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "O campo email \"email\" informado é inválido",
                                  "O documento informado é inválido",
                                  "O campo data de nascimento \"birthdate\" deve estar no formato yyyy-mm-dd",
                                  "address.O campo rua \"street\" é obrigatório",
                                  "address.O campo rua \"street\" deve ser um texto válido",
                                  "address.O campo número \"streetNumber\" é obrigatório",
                                  "address.O campo número \"streetNumber\" deve ser um número válido",
                                  "address.O campo bairro \"neighborhood\" é obrigatório",
                                  "address.O campo bairro \"neighborhood\" deve ser um texto válido",
                                  "address.O campo cidade \"city\" é obrigatório",
                                  "address.O campo cidade \"city\" deve ser um texto válido",
                                  "address.O campo estado \"state\" é obrigatório",
                                  "address.O campo estado \"state\" deve ser um texto válido",
                                  "address.O campo CEP \"zipcode\" é obrigatório",
                                  "address.O campo CEP \"zipcode\" deve ser um número válido"
                                ]
                              },
                              "error": {
                                "type": "string",
                                "example": "Bad Request"
                              },
                              "statusCode": {
                                "type": "integer",
                                "example": 400
                              }
                            }
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "example": "Erro ao criar cliente"
                              },
                              "returnCode": {
                                "type": "integer",
                                "example": -7403
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "authenticate": {
          "allOf": [
            {
              "type": "object",
              "properties": {
                "publicKey": {
                  "description": "Chave pública utilizada para identificar a empresa.",
                  "type": "string",
                  "example": "SP-PublicKey"
                },
                "privateKey": {
                  "description": "Chave secreta utilizada para autenticar uma chave pública.",
                  "type": "string",
                  "example": "SP-SecretKey"
                }
              }
            }
          ]
        },
        "authenticateErrorResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "message": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "returnCode": {
                  "type": "integer",
                  "format": "int32"
                },
                "error": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },

        "createBankAccount": {
          "type": "object",
          "required": [
            "holderName",
            "bankCode",
            "routingNumber",
            "accountNumber",
            "accountType",
            "holderName",
            "document"
          ],
          "properties": {
            "holderName": {
              "description": "Nome do benefíciario da conta",
              "type": "string",
              "example": "EMPRESA EXEMPLO LTDA"
            },
            "bankCode": {
              "description": "Código do banco",
              "type": "string",
              "example": "001"
            },
            "routingNumber": {
              "description": "Número da agência com dígito verificador.Se não possuir DV, coloque 0 após o hífen",
              "type": "string",
              "example": "1234-0"
            },
            "accountNumber": {
              "description": "Número da conta com dígito verificador. Se não possuir DV, coloque 0 após o hífen",
              "type": "string",
              "example": "123456-78"
            },
            "accountType": {
              "description": "Tipo da conta bancária",
              "type": "string",
              "enum": ["SAVINGS", "CHECKING"],
              "example": "SAVINGS"
            },
            "document": {
              "description": "CPF ou CNPJ do benefíciario da conta",
              "type": "string",
              "example": "12345678901"
            }
          }
        },
        "bankAccountResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "holderName": {
                  "type": "string",
                  "example": "Empresa Teste LTDA"
                },
                "bankCode": {
                  "type": "string",
                  "example": "001"
                },
                "routingNumber": {
                  "type": "string",
                  "example": "0001-00"
                },
                "accountNumber": {
                  "type": "string",
                  "example": "12345678-00"
                },
                "document": {
                  "type": "string",
                  "example": "00000000000"
                },
                "accountType": {
                  "type": "string",
                  "example": "CHECKING"
                },
                "status": {
                  "type": "string",
                  "example": "APPROVED"
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Conta bancária criada com sucesso"
            }
          }
        },
        "bankAccountErrorResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "message": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "returnCode": {
                  "type": "integer",
                  "format": "int32"
                },
                "error": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "listBankAccountsResponse": {
          "type": "object",
          "properties": {
            "data": {
              "description": "Lista de contas bancárias",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificador único da conta bancária",
                    "type": "integer",
                    "example": 1237864
                  },
                  "holderName": {
                    "description": "Nome do beneficiário da conta",
                    "type": "string",
                    "example": "Empresa Teste LTDA"
                  },
                  "bankCode": {
                    "description": "Código do banco",
                    "type": "string",
                    "example": "001"
                  },
                  "routingNumber": {
                    "description": "Número da agência com dígito verificador",
                    "type": "string",
                    "example": "0001-00"
                  },
                  "accountNumber": {
                    "description": "Número da conta com dígito verificador",
                    "type": "string",
                    "example": "12345678-00"
                  },
                  "document": {
                    "description": "CPF ou CNPJ do beneficiário da conta",
                    "type": "string",
                    "example": "59163721000165"
                  },
                  "accountType": {
                    "description": "Tipo da conta bancária",
                    "type": "string",
                    "example": "CHECKING"
                  },
                  "status": {
                    "description": "Status atual da conta bancária",
                    "type": "string",
                    "example": "APPROVED"
                  },
                  "createdAt": {
                    "description": "Data e hora de criação da conta bancária",
                    "type": "string",
                    "format": "date-time",
                    "example": "2025-05-15T20:54:35.106Z"
                  }
                }
              }
            },
            "meta": {
              "description": "Dados de paginação",
              "type": "object",
              "properties": {
                "total": {
                  "description": "Total de contas bancárias cadastradas",
                  "type": "integer",
                  "example": 11
                },
                "page": {
                  "description": "Página atual da listagem",
                  "type": "integer",
                  "example": 1
                },
                "limit": {
                  "description": "Quantidade de itens por página",
                  "type": "integer",
                  "example": 10
                },
                "totalPages": {
                  "description": "Total de páginas disponíveis",
                  "type": "integer",
                  "example": 2
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Listagem de contas bancárias"
            }
          }
        },
        "getBankAccountResponse": {
          "type": "object",
          "properties": {
            "data": {
              "description": "Dados da conta bancária",
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identificador único da conta bancária",
                  "type": "integer",
                  "example": 1
                },
                "holderName": {
                  "description": "Nome do beneficiário da conta",
                  "type": "string",
                  "example": "Empresa Teste LTDA"
                },
                "bankCode": {
                  "description": "Código do banco",
                  "type": "string",
                  "example": "001"
                },
                "routingNumber": {
                  "description": "Número da agência com dígito verificador",
                  "type": "string",
                  "example": "0001-00"
                },
                "accountNumber": {
                  "description": "Número da conta com dígito verificador",
                  "type": "string",
                  "example": "12345678-00"
                },
                "document": {
                  "description": "CPF ou CNPJ do beneficiário da conta",
                  "type": "string",
                  "example": "12345678000199"
                },
                "accountType": {
                  "description": "Tipo da conta bancária",
                  "type": "string",
                  "example": "CHECKING"
                },
                "status": {
                  "description": "Status atual da conta bancária",
                  "type": "string",
                  "example": "APPROVED"
                },
                "createdAt": {
                  "description": "Data e hora de criação da conta bancária",
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-05-14T17:30:26.877Z"
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Conta bancária encontrada com sucesso"
            }
          }
        },
        "deleteBankAccountResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "message": {
                  "description": "Mensagem de confirmação da exclusão",
                  "type": "string",
                  "example": "Conta bancária deletada com sucesso"
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Conta bancária deletada com sucesso"
            }
          }
        },
        "createSubaccountPF": {
          "type": "object",
          "required": [
            "name",
            "juridicDataPartner",
            "addresses",
            "accountBank"
          ],
          "properties": {
            "name": {
              "description": "Nome da subconta",
              "type": "string",
              "example": "João Silva"
            },
            "juridicDataPartner": {
              "type": "object",
              "required": [
                "name",
                "lastName",
                "cpf",
                "email",
                "birthdate",
                "contactPhone",
                "monthRevenue",
                "jobOccupation",
                "fullnameMom"
              ],
              "properties": {
                "name": {
                  "description": "Nome do titular da subconta",
                  "type": "string",
                  "example": "João"
                },
                "lastName": {
                  "description": "Sobrenome do titular da subconta",
                  "type": "string",
                  "example": "Silva"
                },
                "cpf": {
                  "description": "CPF do titular da subconta",
                  "type": "string",
                  "example": "00000000000"
                },
                "email": {
                  "description": "Email do titular da subconta",
                  "type": "string",
                  "format": "email",
                  "example": "email@email.com"
                },
                "birthdate": {
                  "description": "Data de nascimento do titular da subconta",
                  "type": "string",
                  "format": "date",
                  "example": "1990-05-20"
                },
                "contactPhone": {
                  "description": "Telefone de contato do titular da subconta",
                  "type": "string",
                  "example": "(00) 00000-0000"
                },
                "monthRevenue": {
                  "description": "Renda mensal do titular da subconta",
                  "type": "number",
                  "example": 10000
                },
                "jobOccupation": {
                  "description": "Ocupação profissional do titular da subconta",
                  "type": "string",
                  "example": "Diretor Financeiro"
                },
                "fullnameMom": {
                  "description": "Nome completo da mãe do titular da subconta",
                  "type": "string",
                  "example": "Maria Silva"
                }
              }
            },
            "addresses": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "entityType",
                  "addressType",
                  "zipcode",
                  "street",
                  "streetNumber",
                  "neighborhood",
                  "city",
                  "state"
                ],
                "properties": {
                  "addressType": {
                    "description": "Tipo do endereço",
                    "type": "string",
                    "enum": ["RESPONSIBLE"],
                    "example": "RESPONSIBLE"
                  },
                  "zipcode": {
                    "description": "CEP do endereço",
                    "type": "integer",
                    "example": 87654321
                  },
                  "street": {
                    "description": "Nome da rua",
                    "type": "string",
                    "example": "Rua B"
                  },
                  "streetNumber": {
                    "description": "Número do endereço",
                    "type": "integer",
                    "example": 200
                  },
                  "complement": {
                    "description": "Complemento do endereço",
                    "type": "string",
                    "example": "Casa 10"
                  },
                  "reference": {
                    "description": "Ponto de referência do endereço",
                    "type": "string",
                    "example": "Ao lado da padaria"
                  },
                  "neighborhood": {
                    "description": "Bairro do endereço",
                    "type": "string",
                    "example": "Jardins"
                  },
                  "city": {
                    "description": "Cidade do endereço",
                    "type": "string",
                    "example": "São Paulo"
                  },
                  "state": {
                    "description": "Estado do endereço",
                    "type": "string",
                    "example": "SP"
                  }
                }
              }
            },
            "accountBank": {
              "type": "object",
              "required": [
                "holderName",
                "bankCode",
                "accountType",
                "accountNumber",
                "routingNumber",
                "document"
              ],
              "properties": {
                "holderName": {
                  "description": "Nome do titular da conta bancária",
                  "type": "string",
                  "example": "Empresa Teste LTDA"
                },
                "bankCode": {
                  "description": "Código do banco",
                  "type": "string",
                  "example": "001"
                },
                "accountType": {
                  "description": "Tipo da conta bancária",
                  "type": "string",
                  "enum": ["CHECKING", "SAVINGS"],
                  "example": "CHECKING"
                },
                "accountNumber": {
                  "description": "Número da conta com dígito verificador",
                  "type": "string",
                  "example": "12345678-00"
                },
                "routingNumber": {
                  "description": "Número da agência com dígito verificador",
                  "type": "string",
                  "example": "0001-00"
                },
                "document": {
                  "description": "CPF do titular da conta bancária",
                  "type": "string",
                  "example": "00000000000"
                }
              }
            }
          }
        },
        "subaccountPFResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identificador único da subconta",
                  "type": "string",
                  "format": "uuid",
                  "example": "6c426366-4395-4f3c-8b1e-b15dece967b6"
                },
                "name": {
                  "description": "Nome da subconta",
                  "type": "string",
                  "example": "EMPRESA EXEMPLO LTDA"
                },
                "juridicDataPartner": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "Nome do titular da subconta",
                      "type": "string",
                      "example": "João"
                    },
                    "lastName": {
                      "description": "Sobrenome do titular da subconta",
                      "type": "string",
                      "example": "Silva"
                    },
                    "cpf": {
                      "description": "CPF do titular da subconta",
                      "type": "string",
                      "example": "00000000000"
                    },
                    "email": {
                      "description": "Email do titular da subconta",
                      "type": "string",
                      "format": "email",
                      "example": "email@email.com"
                    },
                    "birthdate": {
                      "description": "Data de nascimento do titular da subconta",
                      "type": "string",
                      "format": "date",
                      "example": "1990-05-20"
                    },
                    "contactPhone": {
                      "description": "Telefone de contato do titular da subconta",
                      "type": "string",
                      "example": "(00) 00000-0000"
                    },
                    "monthRevenue": {
                      "description": "Renda mensal do titular da subconta",
                      "type": "number",
                      "example": 50000
                    },
                    "jobOccupation": {
                      "description": "Ocupação profissional do titular da subconta",
                      "type": "string",
                      "example": "Diretor Financeiro"
                    },
                    "fullnameMom": {
                      "description": "Nome completo da mãe do titular da subconta",
                      "type": "string",
                      "example": "Maria Silva"
                    }
                  }
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "addressType": {
                        "description": "Tipo do endereço",
                        "type": "string",
                        "example": "RESPONSIBLE"
                      },
                      "zipcode": {
                        "description": "CEP do endereço",
                        "type": "integer",
                        "example": 87654321
                      },
                      "street": {
                        "description": "Nome da rua",
                        "type": "string",
                        "example": "Rua B"
                      },
                      "streetNumber": {
                        "description": "Número do endereço",
                        "type": "integer",
                        "example": 200
                      },
                      "complement": {
                        "description": "Complemento do endereço",
                        "type": "string",
                        "example": "Casa 10"
                      },
                      "reference": {
                        "description": "Ponto de referência do endereço",
                        "type": "string",
                        "example": "Ao lado da padaria"
                      },
                      "neighborhood": {
                        "description": "Bairro do endereço",
                        "type": "string",
                        "example": "Jardins"
                      },
                      "city": {
                        "description": "Cidade do endereço",
                        "type": "string",
                        "example": "São Paulo"
                      },
                      "state": {
                        "description": "Estado do endereço",
                        "type": "string",
                        "example": "SP"
                      }
                    }
                  }
                },
                "accountBank": {
                  "type": "object",
                  "properties": {
                    "holderName": {
                      "description": "Nome do titular da conta bancária",
                      "type": "string",
                      "example": "Empresa Teste LTDA"
                    },
                    "bankCode": {
                      "description": "Código do banco",
                      "type": "string",
                      "example": "001"
                    },
                    "accountType": {
                      "description": "Tipo da conta bancária",
                      "type": "string",
                      "enum": ["CHECKING", "SAVINGS"],
                      "example": "CHECKING"
                    },
                    "accountNumber": {
                      "description": "Número da conta com dígito verificador",
                      "type": "string",
                      "example": "12345678-00"
                    },
                    "routingNumber": {
                      "description": "Número da agência com dígito verificador",
                      "type": "string",
                      "example": "0001-00"
                    },
                    "document": {
                      "description": "CPF do titular da conta bancária",
                      "type": "string",
                      "example": "00000000000"
                    }
                  }
                },
                "status": {
                  "description": "Status atual da subconta",
                  "type": "string",
                  "example": "PENDING"
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Subconta PF criada com sucesso"
            }
          }
        },
        "subaccountErrorResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "message": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "returnCode": {
                  "type": "integer",
                  "format": "int32"
                },
                "error": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "createSubaccountPJ": {
          "type": "object",
          "required": [
            "name",
            "juridicDataPartner",
            "juridicLegalData",
            "addresses",
            "accountBank"
          ],
          "properties": {
            "name": {
              "description": "Nome da subconta",
              "type": "string",
              "example": "Empresa Teste LTDA"
            },
            "juridicDataPartner": {
              "type": "object",
              "required": [
                "name",
                "lastName",
                "cpf",
                "email",
                "birthdate",
                "contactPhone",
                "monthRevenue",
                "jobOccupation",
                "fullnameMom"
              ],
              "properties": {
                "name": {
                  "description": "Nome do responsável legal",
                  "type": "string",
                  "example": "João"
                },
                "lastName": {
                  "description": "Sobrenome do responsável legal",
                  "type": "string",
                  "example": "Silva"
                },
                "cpf": {
                  "description": "CPF do responsável legal",
                  "type": "string",
                  "example": "00000000000"
                },
                "email": {
                  "description": "Email do responsável legal",
                  "type": "string",
                  "format": "email",
                  "example": "email@email.com"
                },
                "birthdate": {
                  "description": "Data de nascimento do responsável legal",
                  "type": "string",
                  "format": "date",
                  "example": "1990-05-20"
                },
                "contactPhone": {
                  "description": "Telefone de contato do responsável legal",
                  "type": "string",
                  "example": "(00) 00000-0000"
                },
                "monthRevenue": {
                  "description": "Renda mensal do responsável legal",
                  "type": "number",
                  "example": 50000
                },
                "jobOccupation": {
                  "description": "Ocupação profissional do responsável legal",
                  "type": "string",
                  "example": "Diretor Financeiro"
                },
                "fullnameMom": {
                  "description": "Nome completo da mãe do responsável legal",
                  "type": "string",
                  "example": "Maria Silva"
                }
              }
            },
            "juridicLegalData": {
              "type": "object",
              "required": [
                "cnpj",
                "contactPhone",
                "fantasyName",
                "socialReason",
                "avgAnualBilling",
                "searchingServices",
                "socialMedia"
              ],
              "properties": {
                "cnpj": {
                  "description": "CNPJ da empresa",
                  "type": "string",
                  "example": "00000000000000"
                },
                "contactPhone": {
                  "description": "Telefone de contato da empresa",
                  "type": "string",
                  "example": "(00) 00000-0000"
                },
                "fantasyName": {
                  "description": "Nome fantasia da empresa",
                  "type": "string",
                  "example": "Empresa Exemplo Ltda"
                },
                "socialReason": {
                  "description": "Razão social da empresa",
                  "type": "string",
                  "example": "Empresa Exemplo LTDA"
                },
                "avgAnualBilling": {
                  "description": "Faturamento anual médio da empresa",
                  "type": "number",
                  "example": 1000000
                },
                "searchingServices": {
                  "description": "Serviços que a empresa busca",
                  "type": "string",
                  "example": "Consultoria Financeira"
                },
                "socialMedia": {
                  "description": "Rede social da empresa",
                  "type": "string",
                  "example": "@empresaexemplo"
                }
              }
            },
            "addresses": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "addressType",
                  "zipcode",
                  "street",
                  "streetNumber",
                  "neighborhood",
                  "city",
                  "state"
                ],
                "properties": {
                  "addressType": {
                    "description": "Tipo do endereço",
                    "type": "string",
                    "enum": ["COMMERCIAL", "RESPONSIBLE"],
                    "example": "COMMERCIAL"
                  },
                  "zipcode": {
                    "description": "CEP do endereço",
                    "type": "integer",
                    "example": 12345678
                  },
                  "street": {
                    "description": "Nome da rua",
                    "type": "string",
                    "example": "Rua A"
                  },
                  "streetNumber": {
                    "description": "Número do endereço",
                    "type": "integer",
                    "example": 100
                  },
                  "complement": {
                    "description": "Complemento do endereço",
                    "type": "string",
                    "example": "Sala 5"
                  },
                  "reference": {
                    "description": "Ponto de referência do endereço",
                    "type": "string",
                    "example": "Próximo ao Shopping"
                  },
                  "neighborhood": {
                    "description": "Bairro do endereço",
                    "type": "string",
                    "example": "Centro"
                  },
                  "city": {
                    "description": "Cidade do endereço",
                    "type": "string",
                    "example": "São Paulo"
                  },
                  "state": {
                    "description": "Estado do endereço",
                    "type": "string",
                    "example": "SP"
                  }
                }
              }
            },
            "accountBank": {
              "type": "object",
              "required": [
                "holderName",
                "bankCode",
                "accountType",
                "accountNumber",
                "routingNumber",
                "document"
              ],
              "properties": {
                "holderName": {
                  "description": "Nome do titular da conta bancária",
                  "type": "string",
                  "example": "Empresa Teste LTDA"
                },
                "bankCode": {
                  "description": "Código do banco",
                  "type": "string",
                  "example": "001"
                },
                "accountType": {
                  "description": "Tipo da conta bancária",
                  "type": "string",
                  "enum": ["CHECKING", "SAVINGS"],
                  "example": "CHECKING"
                },
                "accountNumber": {
                  "description": "Número da conta com dígito verificador",
                  "type": "string",
                  "example": "12345678-00"
                },
                "routingNumber": {
                  "description": "Número da agência com dígito verificador",
                  "type": "string",
                  "example": "0001-00"
                },
                "document": {
                  "description": "CNPJ do titular da conta bancária",
                  "type": "string",
                  "example": "00000000000000"
                }
              }
            }
          }
        },
        "subaccountPJResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identificador único da subconta",
                  "type": "string",
                  "format": "uuid",
                  "example": "6c426366-4395-4f3c-8b1e-b15dece967b6"
                },
                "name": {
                  "description": "Nome da subconta",
                  "type": "string",
                  "example": "Super Pagamentos"
                },
                "juridicDataPartner": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "Nome do responsável legal",
                      "type": "string",
                      "example": "João"
                    },
                    "lastName": {
                      "description": "Sobrenome do responsável legal",
                      "type": "string",
                      "example": "Silva"
                    },
                    "cpf": {
                      "description": "CPF do responsável legal",
                      "type": "string",
                      "example": "00000000000"
                    },
                    "email": {
                      "description": "Email do responsável legal",
                      "type": "string",
                      "format": "email",
                      "example": "email@email.com"
                    },
                    "birthdate": {
                      "description": "Data de nascimento do responsável legal",
                      "type": "string",
                      "format": "date",
                      "example": "1990-05-20"
                    },
                    "contactPhone": {
                      "description": "Telefone de contato do responsável legal",
                      "type": "string",
                      "example": "(00) 00000-0000"
                    },
                    "monthRevenue": {
                      "description": "Renda mensal do responsável legal",
                      "type": "number",
                      "example": 50000
                    },
                    "jobOccupation": {
                      "description": "Ocupação profissional do responsável legal",
                      "type": "string",
                      "example": "Diretor Financeiro"
                    },
                    "fullnameMom": {
                      "description": "Nome completo da mãe do responsável legal",
                      "type": "string",
                      "example": "Maria Silva"
                    }
                  }
                },
                "juridicLegalData": {
                  "type": "object",
                  "properties": {
                    "cnpj": {
                      "description": "CNPJ da empresa",
                      "type": "string",
                      "example": "00000000000000"
                    },
                    "contactPhone": {
                      "description": "Telefone de contato da empresa",
                      "type": "string",
                      "example": "(00) 00000-0000"
                    },
                    "fantasyName": {
                      "description": "Nome fantasia da empresa",
                      "type": "string",
                      "example": "Empresa Exemplo Ltda"
                    },
                    "socialReason": {
                      "description": "Razão social da empresa",
                      "type": "string",
                      "example": "Empresa Exemplo LTDA"
                    },
                    "avgAnualBilling": {
                      "description": "Faturamento anual médio da empresa",
                      "type": "number",
                      "example": 1000000.50
                    },
                    "searchingServices": {
                      "description": "Serviços que a empresa busca",
                      "type": "string",
                      "example": "Consultoria Financeira"
                    },
                    "socialMedia": {
                      "description": "Rede social da empresa",
                      "type": "string",
                      "example": "@empresaexemplo"
                    }
                  }
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "addressType": {
                        "description": "Tipo do endereço",
                        "type": "string",
                        "enum": ["COMMERCIAL", "RESPONSIBLE"],
                        "example": "COMMERCIAL"
                      },
                      "zipcode": {
                        "description": "CEP do endereço",
                        "type": "integer",
                        "example": 12345678
                      },
                      "street": {
                        "description": "Nome da rua",
                        "type": "string",
                        "example": "Rua A"
                      },
                      "streetNumber": {
                        "description": "Número do endereço",
                        "type": "integer",
                        "example": 100
                      },
                      "complement": {
                        "description": "Complemento do endereço",
                        "type": "string",
                        "example": "Sala 5"
                      },
                      "reference": {
                        "description": "Ponto de referência do endereço",
                        "type": "string",
                        "example": "Próximo ao Shopping"
                      },
                      "neighborhood": {
                        "description": "Bairro do endereço",
                        "type": "string",
                        "example": "Centro"
                      },
                      "city": {
                        "description": "Cidade do endereço",
                        "type": "string",
                        "example": "São Paulo"
                      },
                      "state": {
                        "description": "Estado do endereço",
                        "type": "string",
                        "example": "SP"
                      }
                    }
                  }
                },
                "accountBank": {
                  "type": "object",
                  "properties": {
                    "holderName": {
                      "description": "Nome do titular da conta bancária",
                      "type": "string",
                      "example": "Empresa Teste LTDA"
                    },
                    "bankCode": {
                      "description": "Código do banco",
                      "type": "string",
                      "example": "001"
                    },
                    "accountType": {
                      "description": "Tipo da conta bancária",
                      "type": "string",
                      "enum": ["CHECKING", "SAVINGS"],
                      "example": "CHECKING"
                    },
                    "accountNumber": {
                      "description": "Número da conta com dígito verificador",
                      "type": "string",
                      "example": "12345678-00"
                    },
                    "routingNumber": {
                      "description": "Número da agência com dígito verificador",
                      "type": "string",
                      "example": "0001-00"
                    },
                    "document": {
                      "description": "CNPJ do titular da conta bancária",
                      "type": "string",
                      "example": "60346632000133"
                    }
                  }
                },
                "status": {
                  "description": "Status atual da subconta",
                  "type": "string",
                  "example": "PENDING"
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Subconta PJ criada com sucesso"
            }
          }
        },
        "listSubaccountsResponse": {
          "type": "object",
          "properties": {
            "data": {
              "description": "Lista de subcontas",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificador único da subconta",
                    "type": "string",
                    "format": "uuid",
                    "example": "51bfa0f3-72f7-409f-8ac4-77b4611494b6"
                  },
                  "createdAt": {
                    "description": "Data e hora de criação da subconta",
                    "type": "string",
                    "format": "date-time",
                    "example": "2025-05-28T18:06:43.846Z"
                  },
                  "name": {
                    "description": "Nome da subconta",
                    "type": "string",
                    "example": "Empresa Teste LTDA"
                  },
                  "status": {
                    "description": "Status atual da subconta",
                    "type": "string",
                    "example": "PENDING"
                  },
                  "companyType": {
                    "description": "Tipo da subconta (PF ou PJ)",
                    "type": "string",
                    "enum": ["PF", "PJ"],
                    "example": "PJ"
                  },
                  "juridicDataPartner": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "Nome do responsável legal",
                        "type": "string",
                        "example": "João"
                      },
                      "lastName": {
                        "description": "Sobrenome do responsável legal",
                        "type": "string",
                        "example": "Silva"
                      },
                      "cpf": {
                        "description": "CPF do responsável legal",
                        "type": "string",
                        "example": "00000000000"
                      },
                      "email": {
                        "description": "Email do responsável legal",
                        "type": "string",
                        "format": "email",
                        "example": "email@email.com"
                      },
                      "birthdate": {
                        "description": "Data de nascimento do responsável legal",
                        "type": "string",
                        "format": "date",
                        "example": "1990-05-20"
                      },
                      "contactPhone": {
                        "description": "Telefone de contato do responsável legal",
                        "type": "string",
                        "example": "(00) 00000-0000"
                      },
                      "monthRevenue": {
                        "description": "Renda mensal do responsável legal",
                        "type": "number",
                        "example": 50000
                      },
                      "jobOccupation": {
                        "description": "Ocupação profissional do responsável legal",
                        "type": "string",
                        "example": "Diretor Financeiro"
                      },
                      "fullnameMom": {
                        "description": "Nome completo da mãe do responsável legal",
                        "type": "string",
                        "example": "Maria Silva"
                      }
                    }
                  },
                  "juridicLegalData": {
                    "type": "object",
                    "properties": {
                      "cnpj": {
                        "description": "CNPJ da empresa",
                        "type": "string",
                        "example": "00000000000000"
                      },
                      "contactPhone": {
                        "description": "Telefone de contato da empresa",
                        "type": "string",
                        "example": "(00) 00000-0000"
                      },
                      "fantasyName": {
                        "description": "Nome fantasia da empresa",
                        "type": "string",
                        "example": "Empresa Exemplo Ltda"
                      },
                      "socialReason": {
                        "description": "Razão social da empresa",
                        "type": "string",
                        "example": "Empresa Exemplo LTDA"
                      },
                      "avgAnualBilling": {
                        "description": "Faturamento anual médio da empresa",
                        "type": "number",
                        "example": 1000000
                      },
                      "searchingServices": {
                        "description": "Serviços que a empresa busca",
                        "type": "string",
                        "example": "Consultoria Financeira"
                      },
                      "socialMedia": {
                        "description": "Rede social da empresa",
                        "type": "string",
                        "example": "@empresaexemplo"
                      }
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "addressType": {
                          "description": "Tipo do endereço",
                          "type": "string",
                          "enum": ["COMMERCIAL", "RESPONSIBLE"],
                          "example": "COMMERCIAL"
                        },
                        "zipcode": {
                          "description": "CEP do endereço",
                          "type": "integer",
                          "example": 12345678
                        },
                        "street": {
                          "description": "Nome da rua",
                          "type": "string",
                          "example": "Rua A"
                        },
                        "streetNumber": {
                          "description": "Número do endereço",
                          "type": "integer",
                          "example": 100
                        },
                        "complement": {
                          "description": "Complemento do endereço",
                          "type": "string",
                          "example": "Sala 5"
                        },
                        "reference": {
                          "description": "Ponto de referência do endereço",
                          "type": "string",
                          "example": "Próximo ao Shopping"
                        },
                        "neighborhood": {
                          "description": "Bairro do endereço",
                          "type": "string",
                          "example": "Centro"
                        },
                        "city": {
                          "description": "Cidade do endereço",
                          "type": "string",
                          "example": "São Paulo"
                        },
                        "state": {
                          "description": "Estado do endereço",
                          "type": "string",
                          "example": "SP"
                        }
                      }
                    }
                  }
                }
              }
            },
            "meta": {
              "description": "Dados de paginação",
              "type": "object",
              "properties": {
                "total": {
                  "description": "Total de subcontas cadastradas",
                  "type": "integer",
                  "example": 2
                },
                "page": {
                  "description": "Página atual da listagem",
                  "type": "integer",
                  "example": 1
                },
                "limit": {
                  "description": "Quantidade de itens por página",
                  "type": "integer",
                  "example": 10
                },
                "totalPages": {
                  "description": "Total de páginas disponíveis",
                  "type": "integer",
                  "example": 1
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Listagem de subcontas"
            }
          }
        },
        "getSubaccountResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identificador único da subconta",
                  "type": "string",
                  "format": "uuid",
                  "example": "51bfa0f3-72f7-409f-8ac4-77b4611494b6"
                },
                "createdAt": {
                  "description": "Data e hora de criação da subconta",
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-05-28T18:06:43.846Z"
                },
                "name": {
                  "description": "Nome da subconta",
                  "type": "string",
                  "example": "Empresa Teste LTDA"
                },
                "status": {
                  "description": "Status atual da subconta",
                  "type": "string",
                  "example": "PENDING"
                },
                "companyType": {
                  "description": "Tipo da subconta (PF ou PJ)",
                  "type": "string",
                  "enum": ["PF", "PJ"],
                  "example": "PJ"
                },
                "juridicDataPartner": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "Nome do responsável legal",
                      "type": "string",
                      "example": "João"
                    },
                    "lastName": {
                      "description": "Sobrenome do responsável legal",
                      "type": "string",
                      "example": "Silva"
                    },
                    "cpf": {
                      "description": "CPF do responsável legal",
                      "type": "string",
                      "example": "00000000000"
                    },
                    "email": {
                      "description": "Email do responsável legal",
                      "type": "string",
                      "format": "email",
                      "example": "email@email.com"
                    },
                    "birthdate": {
                      "description": "Data de nascimento do responsável legal",
                      "type": "string",
                      "format": "date",
                      "example": "1990-05-20"
                    },
                    "contactPhone": {
                      "description": "Telefone de contato do responsável legal",
                      "type": "string",
                      "example": "(00) 00000-0000"
                    },
                    "monthRevenue": {
                      "description": "Renda mensal do responsável legal",
                      "type": "number",
                      "example": 50000
                    },
                    "jobOccupation": {
                      "description": "Ocupação profissional do responsável legal",
                      "type": "string",
                      "example": "Diretor Financeiro"
                    },
                    "fullnameMom": {
                      "description": "Nome completo da mãe do responsável legal",
                      "type": "string",
                      "example": "Maria Silva"
                    }
                  }
                },
                "juridicLegalData": {
                  "type": "object",
                  "properties": {
                    "cnpj": {
                      "description": "CNPJ da empresa",
                      "type": "string",
                      "example": "00000000000000"
                    },
                    "contactPhone": {
                      "description": "Telefone de contato da empresa",
                      "type": "string",
                      "example": "(00) 00000-0000"
                    },
                    "fantasyName": {
                      "description": "Nome fantasia da empresa",
                      "type": "string",
                      "example": "Empresa Exemplo Ltda"
                    },
                    "socialReason": {
                      "description": "Razão social da empresa",
                      "type": "string",
                      "example": "Empresa Exemplo LTDA"
                    },
                    "avgAnualBilling": {
                      "description": "Faturamento anual médio da empresa",
                      "type": "number",
                      "example": 1000000
                    },
                    "searchingServices": {
                      "description": "Serviços que a empresa busca",
                      "type": "string",
                      "example": "Consultoria Financeira"
                    },
                    "socialMedia": {
                      "description": "Rede social da empresa",
                      "type": "string",
                      "example": "@empresaexemplo"
                    }
                  }
                },
                "addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "addressType": {
                        "description": "Tipo do endereço",
                        "type": "string",
                        "enum": ["COMMERCIAL", "RESPONSIBLE"],
                        "example": "COMMERCIAL"
                      },
                      "zipcode": {
                        "description": "CEP do endereço",
                        "type": "integer",
                        "example": 12345678
                      },
                      "street": {
                        "description": "Nome da rua",
                        "type": "string",
                        "example": "Rua A"
                      },
                      "streetNumber": {
                        "description": "Número do endereço",
                        "type": "integer",
                        "example": 100
                      },
                      "complement": {
                        "description": "Complemento do endereço",
                        "type": "string",
                        "example": "Sala 5"
                      },
                      "reference": {
                        "description": "Ponto de referência do endereço",
                        "type": "string",
                        "example": "Próximo ao Shopping"
                      },
                      "neighborhood": {
                        "description": "Bairro do endereço",
                        "type": "string",
                        "example": "Centro"
                      },
                      "city": {
                        "description": "Cidade do endereço",
                        "type": "string",
                        "example": "São Paulo"
                      },
                      "state": {
                        "description": "Estado do endereço",
                        "type": "string",
                        "example": "SP"
                      }
                    }
                  }
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Subconta encontrada com sucesso"
            }
          }
        }
      },
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "description": "Token JWT gerado na rota de autenticação (/auth). Deve ser enviado no formato: Bearer <token>"
        }
      }
    }
  }