{
    "openapi": "3.1.0",
    "info": {
      "title": "OpenAPI Super APIs",
      "description": "Documentação das APIs destinada a companhias da Super Pagamentos",
      "license": {
        "name": "MIT"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://sandbox.superpagamentos.com"
      }
    ],
    "paths": {
      "/plants": {
        "get": {
          "description": "Returns all plants from the system that the user has access to",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "The maximum number of results to return",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Plant response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Plant"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      },
      "/plants/{id}": {
        "delete": {
          "description": "Deletes a single plant based on the ID supplied",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "ID of plant to delete",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Plant deleted",
              "content": {}
            },
            "400": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      },
      "/auth": {
        "post": {
          "description": "A rota `/auth` gera tokens JWT com duração de 3600 segundos. Com esses tokens é possível autenticar as demais rotas da aplicação para.\n\n Recomenda-se **nunca armazenar as chaves em ambientes front-end**, sempre utilizar em **ambientes protegidos por um certificado SSL** e **NUNCA compartilhar suas credenciais** com outras pessoas (nem mesmo do Suporte da Super).",
          "requestBody": {
            "description": "Gere um token de autenticação JWT (Json Web Tokens) com duração de 3600s utilizando a sua Public Key e Secret Key. Esse token será utilizado para autenticar as demais APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authenticate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Autenticação realizada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "description": "Esse token será utilizado para autenticar as demais APIs.",
                            "type": "string",
                            "example": "<access_token>"
                          },
                          "refresh_token": {
                            "description": "Esse token será utilizado para atualizar o token de acesso.",
                            "type": "string",
                            "example": "<refresh_token>"
                          },
                          "expires_in": {
                            "description": "Duração do token de acesso em segundos.",
                            "type": "string",
                            "example": "3600s"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Usuário autenticado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/authenticateErrorResponse"
                  },
                  "examples": {
                    "Credenciais inválidas": {
                      "value": {
                        "data": {
                          "message": "As credenciais fornecidas são inválidas",
                          "returnCode": -1000
                        }
                      }
                    },
                    "Campos não informados": {
                      "value": {
                        "data": {
                          "message": [
                            "A privateKey está em um formato incorreto",
                            "privateKey must be a string"
                          ],
                          "error": "Bad Request",
                          "statusCode": 400
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "webhooks": {
      "/plant/webhook": {
        "post": {
          "description": "Information about a new plant added to the store",
          "requestBody": {
            "description": "Plant added to the store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewPlant"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Return a 200 status to indicate that the data was received successfully"
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "authenticate": {
          "allOf": [
            {
              "type": "object",
              "properties": {
                "publicKey": {
                  "description": "Chave pública utilizada para identificar a empresa.",
                  "type": "string",
                  "example": "SP-PublicKey"
                },
                "privateKey": {
                  "description": "Chave secreta utilizada para autenticar uma chave pública.",
                  "type": "string",
                  "example": "SP-SecretKey"
                }
              }
            }
          ]
        },
        "authenticateErrorResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "message": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "returnCode": {
                  "type": "integer",
                  "format": "int32"
                },
                "error": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "Plant": {
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "description": "The name of the plant",
              "type": "string"
            },
            "tag": {
              "description": "Tag to specify the type",
              "type": "string"
            }
          }
        },
        "NewPlant": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Plant"
            },
            {
              "required": [
                "id"
              ],
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identification number of the plant",
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          ]
        },
        "Error": {
          "required": [
            "error",
            "message"
          ],
          "type": "object",
          "properties": {
            "error": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            }
          }
        }
      },
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer"
        }
      }
    }
  }