{
    "openapi": "3.1.0",
    "info": {
      "title": "OpenAPI Super APIs",
      "description": "Documentação das APIs destinada a companhias da Super Pagamentos",
      "license": {
        "name": "MIT"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://sandbox-api.superpagamentos.com",
        "description": "Ambiente de desenvolvimento"
      },
      {
        "url": "https://api.superpagamentos.com",
        "description": "Ambiente de produção"
      }
    ],
    "paths": {
      "/auth": {
        "post": {
          "description": "A rota `/auth` gera tokens JWT com duração de 3600 segundos. Com esses tokens é possível autenticar as demais rotas da aplicação para.\n\n Recomenda-se **nunca armazenar as chaves em ambientes front-end**, sempre utilizar em **ambientes protegidos por um certificado SSL** e **NUNCA compartilhar suas credenciais** com outras pessoas (nem mesmo do Suporte da Super).",
          "requestBody": {
            "description": "Gere um token de autenticação JWT (Json Web Tokens) com duração de 3600s utilizando a sua Public Key e Secret Key. Esse token será utilizado para autenticar as demais APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authenticate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Autenticação realizada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "description": "Esse token será utilizado para autenticar as demais APIs.",
                            "type": "string",
                            "example": "<access_token>"
                          },
                          "refresh_token": {
                            "description": "Esse token será utilizado para atualizar o token de acesso.",
                            "type": "string",
                            "example": "<refresh_token>"
                          },
                          "expires_in": {
                            "description": "Duração do token de acesso em segundos.",
                            "type": "string",
                            "example": "3600s"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Usuário autenticado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/authenticateErrorResponse"
                  },
                  "examples": {
                    "Credenciais inválidas": {
                      "value": {
                        "data": {
                          "message": "As credenciais fornecidas são inválidas",
                          "returnCode": -1000
                        }
                      }
                    },
                    "Campos não informados": {
                      "value": {
                        "data": {
                          "message": [
                            "A privateKey está em um formato incorreto",
                            "privateKey must be a string"
                          ],
                          "error": "Bad Request",
                          "statusCode": 400
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },

      "/bank_accounts": {
        "post": {
          "description": "Crie uma nova conta bancária para a empresa.\n\nA criação de uma conta bancária é **essencial para realizar saques** dos valores recebidos através da Super Pagamentos. \n\n**Importante:** A conta bancária deve obrigatoriamente pertencer ao mesmo titular/CNPJ da conta na Super Pagamentos. Contas bancárias de terceiros não são aceitas por questões de segurança e conformidade.\n\n**Tipos de conta aceitos:**\n- Conta Corrente\n- Conta Poupança\n\n**Documentação necessária:**\n- A conta bancária deve estar no mesmo nome/CNPJ cadastrado na Super Pagamentos\n- Todos os dados bancários devem estar corretos e atualizados\n\n**Operação em subconta:**\nPara criar uma conta bancária em uma subconta específica, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "requestBody": {
            "description": "Dados necessários para criação de uma conta bancária",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createBankAccount"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Conta bancária criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Campos não informados": {
                      "value": {
                        "data": {
                          "message": [
                            "O nome do beneficiário \"holderName\" deve ser um texto válido",
                            "O nome do beneficiário \"holderName\" é obrigatório",
                            "O código do banco \"bankCode\" deve ser um texto válido",
                            "O código do banco \"bankCode\" é obrigatório",
                            "O tipo de conta \"accountType\" deve ser CHECKING ou SAVINGS",
                            "O tipo de conta \"accountType\" é obrigatório",
                            "O número da conta \"accountNumber\" deve estar no formato conta-dv (ex: 12345-6)",
                            "O número da conta \"accountNumber\" deve ser um texto válido",
                            "O número da conta \"accountNumber\" é obrigatório",
                            "O número da agência \"routingNumber\" deve estar no formato agência-dv (ex: 0001-0)",
                            "O número da agência \"routingNumber\" deve ser um texto válido",
                            "O número da agência \"routingNumber\" é obrigatório",
                            "O documento \"document\" deve ser um texto válido",
                            "O documento \"document\" (CPF/CNPJ) é obrigatório"
                          ],
                          "error": "Bad Request",
                          "statusCode": 400
                        }
                      }
                    },
                    "Erro genérico": {
                      "value": {
                        "data": {
                          "message": "Erro ao criar conta bancária. Verifique os dados informados ou entre em contato com o suporte.",
                          "returnCode": -7000
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "get": {
          "description": "Lista todas as contas bancárias cadastradas para a empresa. A resposta inclui informações detalhadas de cada conta, como dados do titular, dados bancários e status da conta. Os resultados são paginados para melhor performance.\n\n**Operação em subconta:**\nPara listar as contas bancárias de uma subconta específica, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Número da página que deseja visualizar",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1,
                "minimum": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Quantidade de itens por página",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 1,
                "maximum": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Listagem de contas bancárias",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/listBankAccountsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/bank_accounts/{bankAccountId}": {
        "get": {
          "description": "Busca os dados de uma conta bancária específica que pertence à empresa cadastrada. A resposta inclui informações detalhadas da conta, como dados do titular, dados bancários e status da conta.\n\n**Operação em subconta:**\nPara buscar uma conta bancária específica de uma subconta, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "bankAccountId",
              "in": "path",
              "description": "Identificador único da conta bancária",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Conta bancária encontrada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getBankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao buscar conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Conta não encontrada": {
                      "value": {
                        "data": {
                          "message": "Conta bancária não encontrada",
                          "returnCode": -7100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "description": "Remove uma conta bancária específica que pertence à empresa cadastrada. Esta operação é irreversível e deve ser utilizada com cautela.\n\n**Operação em subconta:**\nPara deletar uma conta bancária específica de uma subconta, inclua o header `x-subaccount-id` com o ID da subconta. Quando este header é fornecido, a operação será realizada no contexto da subconta especificada, em vez da conta principal autenticada.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "x-subaccount-id",
              "in": "header",
              "description": "ID da subconta onde a operação será realizada. Quando fornecido, a operação será executada no contexto desta subconta específica.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "bankAccountId",
              "in": "path",
              "description": "Identificador único da conta bancária",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Conta bancária deletada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/deleteBankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao deletar conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Conta não encontrada": {
                      "value": {
                        "data": {
                          "message": "Conta bancária não encontrada",
                          "returnCode": -7100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts/pf": {
        "post": {
          "description": "Cria uma nova subconta do tipo Pessoa Física. Com esta subconta, você poderá gerenciar contas bancárias, clientes, planos, assinaturas e realizar split de pagamentos de forma independente.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "description": "Dados necessários para criação de uma subconta PF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createSubaccountPF"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Subconta criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountPFResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da subconta",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Erro não mapeado": {
                      "value": {
                        "data": {
                          "message": "Erro ao criar subconta PF",
                          "returnCode": -7302
                        }
                      }
                    },
                    "Subconta já cadastrada": {
                      "value": {
                        "data": {
                          "message": "Esta conta já está cadastrada como subconta para sua companhia",
                          "returnCode": -7300
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Não autorizado",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Não autenticado": {
                      "value": {
                        "data": {
                          "message": "Unauthorized",
                          "statusCode": 401
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts/pj": {
        "post": {
          "description": "Cria uma nova subconta do tipo Pessoa Jurídica. Com esta subconta, você poderá gerenciar contas bancárias, clientes, planos, assinaturas e realizar split de pagamentos de forma independente.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "description": "Dados necessários para criação de uma subconta PJ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createSubaccountPJ"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Subconta PJ criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountPJResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da subconta",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Subconta já cadastrada": {
                      "value": {
                        "data": {
                          "message": "Esta conta já está cadastrada como subconta para sua companhia",
                          "returnCode": -7300
                        }
                      }
                    },
                    "Erro não mapeado": {
                      "value": {
                        "data": {
                          "message": "Erro ao criar subconta PJ",
                          "returnCode": -7302
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Não autorizado",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Não autenticado": {
                      "value": {
                        "data": {
                          "message": "Unauthorized",
                          "statusCode": 401
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts": {
        "get": {
          "description": "Lista todas as subcontas cadastradas para a empresa. A resposta inclui informações detalhadas de cada subconta, como dados do responsável legal, dados jurídicos (para PJ), endereços e status da conta. Os resultados são paginados para melhor performance.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Número da página que deseja visualizar",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1,
                "minimum": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Quantidade de itens por página",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "accountType",
              "in": "query",
              "description": "Filtro por tipo de conta (PF ou PJ)",
              "required": false,
              "schema": {
                "type": "string",
                "enum": ["PF", "PJ"]
              }
            },
            {
              "name": "document",
              "in": "query",
              "description": "Filtro por CPF (para PF) ou CNPJ (para PJ)",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Listagem de subcontas",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/listSubaccountsResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao listar subcontas",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Conta não autorizada": {
                      "value": {
                        "data": {
                          "message": "Conta não autorizada para utilizar as APIs",
                          "returnCode": -1001
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subaccounts/{subaccountId}": {
        "get": {
          "description": "Busca os dados de uma subconta específica que pertence à empresa cadastrada. A resposta inclui informações detalhadas da subconta, como dados do responsável legal, dados jurídicos (para PJ), endereços e status da conta.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "subaccountId",
              "in": "path",
              "description": "Identificador único da subconta",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Subconta encontrada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getSubaccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao buscar subconta",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subaccountErrorResponse"
                  },
                  "examples": {
                    "Subconta não encontrada": {
                      "value": {
                        "data": {
                          "message": "Subconta não encontrada",
                          "returnCode": -7301
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
            "description": "Remove uma subconta específica. Esta operação é irreversível e deve ser utilizada com cautela.",
            "security": [
              {
                "bearerAuth": []
              }
            ],
            "parameters": [
              {
                "name": "subaccountId",
                "in": "path",
                "description": "Identificador único da subconta",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            ],
            "responses": {
              "200": {
                "description": "Subconta deletada com sucesso",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "sellerUnicId": {
                              "description": "Identificador único da subconta deletada",
                              "type": "string",
                              "format": "uuid",
                              "example": "d4ec4843-40d0-48e6-91ce-ee5c1116380c"
                            }
                          }
                        },
                        "message": {
                          "type": "string",
                          "example": "Subconta deletada com sucesso"
                        }
                      }
                    }
                  }
                }
              },
              "400": {
                "description": "Erro ao deletar subconta",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/subaccountErrorResponse"
                    },
                    "examples": {
                      "Subconta não encontrada": {
                        "value": {
                          "data": {
                            "message": "Subconta não encontrada",
                            "returnCode": -2800
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
      },
      "/customers": {
        "post": {
          "description": "Cria um novo cliente no sistema. Nenhum campo é obrigatório, exceto os campos do endereço quando informado.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["firstName", "lastName", "email", "document"],
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "description": "Nome do cliente",
                      "example": "João"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Sobrenome do cliente",
                      "example": "Silva"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email do cliente",
                      "example": "email@email.com"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Número de telefone do cliente",
                      "example": "00000000000"
                    },
                    "document": {
                      "type": "string",
                      "description": "CPF ou CNPJ do cliente",
                      "example": "00000000000"
                    },
                    "birthdate": {
                      "type": "string",
                      "format": "date",
                      "description": "Data de nascimento do cliente no formato yyyy-mm-dd",
                      "example": "1994-10-04"
                    },
                    "address": {
                      "type": "object",
                      "description": "Endereço do cliente",
                      "properties": {
                        "zipcode": {
                          "type": "integer",
                          "description": "CEP do endereço",
                          "example": 87654321
                        },
                        "street": {
                          "type": "string",
                          "description": "Nome da rua",
                          "example": "Rua B"
                        },
                        "streetNumber": {
                          "type": "integer",
                          "description": "Número do endereço",
                          "example": 200
                        },
                        "complement": {
                          "type": "string",
                          "description": "Complemento do endereço (opcional)",
                          "example": "Casa 10"
                        },
                        "reference": {
                          "type": "string",
                          "description": "Ponto de referência do endereço (opcional)",
                          "example": "Ao lado da padaria"
                        },
                        "neighborhood": {
                          "type": "string",
                          "description": "Bairro do endereço",
                          "example": "Jardins"
                        },
                        "city": {
                          "type": "string",
                          "description": "Cidade do endereço",
                          "example": "São Paulo"
                        },
                        "state": {
                          "type": "string",
                          "description": "Estado do endereço",
                          "example": "SP"
                        }
                      },
                      "required": [
                        "zipcode",
                        "street",
                        "streetNumber",
                        "neighborhood",
                        "city",
                        "state"
                      ]
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Cliente criado com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "8a2edf48-704b-4c23-8278-a902e88a5f93"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "João"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Silva"
                          },
                          "email": {
                            "type": "string",
                            "example": "email@email.com"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "example": "00000000000"
                          },
                          "document": {
                            "type": "string",
                            "example": "00000000000"
                          },
                          "birthdate": {
                            "type": "string",
                            "format": "date",
                            "example": "1994-10-04"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "statusId": {
                                "type": "string",
                                "example": "APPROVED"
                              },
                              "zipcode": {
                                "type": "integer",
                                "example": 87654321
                              },
                              "street": {
                                "type": "string",
                                "example": "Rua B"
                              },
                              "streetNumber": {
                                "type": "integer",
                                "example": 200
                              },
                              "complement": {
                                "type": "string",
                                "example": "Casa 10"
                              },
                              "reference": {
                                "type": "string",
                                "example": "Ao lado da padaria"
                              },
                              "neighborhood": {
                                "type": "string",
                                "example": "Jardins"
                              },
                              "city": {
                                "type": "string",
                                "example": "São Paulo"
                              },
                              "state": {
                                "type": "string",
                                "example": "SP"
                              }
                            }
                          },
                          "statusId": {
                            "type": "string",
                            "example": "APPROVED"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-06-01T16:14:10.535Z"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cliente criado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro na requisição",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "O campo email \"email\" informado é inválido",
                                  "O documento informado é inválido",
                                  "O campo data de nascimento \"birthdate\" deve estar no formato yyyy-mm-dd",
                                  "address.O campo rua \"street\" é obrigatório",
                                  "address.O campo rua \"street\" deve ser um texto válido",
                                  "address.O campo número \"streetNumber\" é obrigatório",
                                  "address.O campo número \"streetNumber\" deve ser um número válido",
                                  "address.O campo bairro \"neighborhood\" é obrigatório",
                                  "address.O campo bairro \"neighborhood\" deve ser um texto válido",
                                  "address.O campo cidade \"city\" é obrigatório",
                                  "address.O campo cidade \"city\" deve ser um texto válido",
                                  "address.O campo estado \"state\" é obrigatório",
                                  "address.O campo estado \"state\" deve ser um texto válido",
                                  "address.O campo CEP \"zipcode\" é obrigatório",
                                  "address.O campo CEP \"zipcode\" deve ser um número válido"
                                ]
                              },
                              "error": {
                                "type": "string",
                                "example": "Bad Request"
                              },
                              "statusCode": {
                                "type": "integer",
                                "example": 400
                              }
                            }
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "example": "Erro ao criar cliente"
                              },
                              "returnCode": {
                                "type": "integer",
                                "example": -7403
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "get": {
          "description": "Lista todos os clientes cadastrados. A resposta inclui informações detalhadas de cada cliente, como dados pessoais, contato e endereço. Os resultados são paginados para melhor performance.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Número da página que deseja visualizar",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1,
                "minimum": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Quantidade de itens por página",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 1,
                "maximum": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Listagem de clientes",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "8a2edf48-704b-4c23-8278-a902e88a5f93"
                            },
                            "firstName": {
                              "type": "string",
                              "example": "João"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "Silva"
                            },
                            "email": {
                              "type": "string",
                              "example": "email@email.com"
                            },
                            "phoneNumber": {
                              "type": "string",
                              "example": "00000000000"
                            },
                            "document": {
                              "type": "string",
                              "example": "00000000000"
                            },
                            "birthdate": {
                              "type": "string",
                              "format": "date",
                              "example": "1994-10-04"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "statusId": {
                                  "type": "string",
                                  "example": "APPROVED"
                                },
                                "zipcode": {
                                  "type": "integer",
                                  "example": 87654321
                                },
                                "street": {
                                  "type": "string",
                                  "example": "Rua B"
                                },
                                "streetNumber": {
                                  "type": "integer",
                                  "example": 200
                                },
                                "complement": {
                                  "type": "string",
                                  "example": "Casa 10"
                                },
                                "reference": {
                                  "type": "string",
                                  "example": "Ao lado da padaria"
                                },
                                "neighborhood": {
                                  "type": "string",
                                  "example": "Jardins"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "São Paulo"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "SP"
                                }
                              }
                            },
                            "statusId": {
                              "type": "string",
                              "example": "APPROVED"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-06-01T16:14:10.535Z"
                            }
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "total": {
                            "type": "integer",
                            "example": 11
                          },
                          "page": {
                            "type": "integer",
                            "example": 1
                          },
                          "limit": {
                            "type": "integer",
                            "example": 10
                          },
                          "totalPages": {
                            "type": "integer",
                            "example": 2
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Listagem de clientes"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro na requisição",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Erro ao listar clientes"
                          },
                          "returnCode": {
                            "type": "integer",
                            "example": -7404
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/customers/{customerId}": {
        "get": {
          "description": "Busca os dados de um cliente específico. A resposta inclui informações detalhadas do cliente, como dados pessoais, contato e endereço.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "description": "Identificador único do cliente",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Cliente encontrado com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "672a2c0f-7172-4d8d-ba8f-f35805ab7d57"
                          },
                          "firstName": {
                            "type": "string",
                            "nullable": true,
                            "example": "João"
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true,
                            "example": "Silva"
                          },
                          "email": {
                            "type": "string",
                            "nullable": true,
                            "example": "email@email.com"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "nullable": true,
                            "example": "00000000000"
                          },
                          "document": {
                            "type": "string",
                            "nullable": true,
                            "example": "00000000000"
                          },
                          "birthdate": {
                            "type": "string",
                            "format": "date",
                            "nullable": true,
                            "example": "1994-10-04"
                          },
                          "address": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "statusId": {
                                "type": "string",
                                "example": "APPROVED"
                              },
                              "zipcode": {
                                "type": "integer",
                                "example": 87654321
                              },
                              "street": {
                                "type": "string",
                                "example": "Rua B"
                              },
                              "streetNumber": {
                                "type": "integer",
                                "example": 200
                              },
                              "complement": {
                                "type": "string",
                                "example": "Casa 10"
                              },
                              "reference": {
                                "type": "string",
                                "example": "Ao lado da padaria"
                              },
                              "neighborhood": {
                                "type": "string",
                                "example": "Jardins"
                              },
                              "city": {
                                "type": "string",
                                "example": "São Paulo"
                              },
                              "state": {
                                "type": "string",
                                "example": "SP"
                              }
                            },
                            "example": {
                              "statusId": "APPROVED",
                              "zipcode": 87654321,
                              "street": "Rua B",
                              "streetNumber": 200,
                              "complement": "Casa 10",
                              "reference": "Ao lado da padaria",
                              "neighborhood": "Jardins",
                              "city": "São Paulo",
                              "state": "SP"
                            }
                          },
                          "statusId": {
                            "type": "string",
                            "example": "APPROVED"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-06-01T03:15:56.085Z"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cliente encontrado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao buscar cliente",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Cliente não encontrado"
                          },
                          "returnCode": {
                            "type": "integer",
                            "example": -7400
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "put": {
          "description": "Atualiza os dados de um cliente específico. Nenhum campo é obrigatório, exceto quando o cliente não possui um endereço cadastrado e deseja cadastrar um novo endereço - neste caso, todos os campos do endereço são obrigatórios.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "description": "Identificador único do cliente",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "description": "Nome do cliente",
                      "example": "Pedro"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Sobrenome do cliente",
                      "example": "Alecrim"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email do cliente",
                      "example": "email@email.com"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Número de telefone do cliente",
                      "example": "00000000000"
                    },
                    "document": {
                      "type": "string",
                      "description": "CPF ou CNPJ do cliente",
                      "example": "00000000000"
                    },
                    "birthdate": {
                      "type": "string",
                      "format": "date",
                      "description": "Data de nascimento do cliente no formato yyyy-mm-dd",
                      "example": "1994-10-04"
                    },
                    "address": {
                      "type": "object",
                      "description": "Endereço do cliente. Se o cliente não possuir um endereço cadastrado, todos os campos são obrigatórios para cadastrar um novo endereço.",
                      "properties": {
                        "zipcode": {
                          "type": "integer",
                          "description": "CEP do endereço",
                          "example": 87654321
                        },
                        "street": {
                          "type": "string",
                          "description": "Nome da rua",
                          "example": "Rua B"
                        },
                        "streetNumber": {
                          "type": "integer",
                          "description": "Número do endereço",
                          "example": 200
                        },
                        "complement": {
                          "type": "string",
                          "description": "Complemento do endereço (opcional)",
                          "example": "Casa 10"
                        },
                        "reference": {
                          "type": "string",
                          "description": "Ponto de referência do endereço (opcional)",
                          "example": "Ao lado da padaria"
                        },
                        "neighborhood": {
                          "type": "string",
                          "description": "Bairro do endereço",
                          "example": "Jardins"
                        },
                        "city": {
                          "type": "string",
                          "description": "Cidade do endereço",
                          "example": "São Paulo"
                        },
                        "state": {
                          "type": "string",
                          "description": "Estado do endereço",
                          "example": "SP"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Cliente atualizado com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "cccfaed0-f346-4543-81ee-57b41db2aafa"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Pedro"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Alecrim"
                          },
                          "email": {
                            "type": "string",
                            "example": "email@email.com"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "example": "00000000000"
                          },
                          "document": {
                            "type": "string",
                            "example": "00000000000"
                          },
                          "birthdate": {
                            "type": "string",
                            "format": "date",
                            "example": "1994-10-04"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "statusId": {
                                "type": "string",
                                "example": "APPROVED"
                              },
                              "zipcode": {
                                "type": "integer",
                                "example": 87654321
                              },
                              "street": {
                                "type": "string",
                                "example": "Rua B"
                              },
                              "streetNumber": {
                                "type": "integer",
                                "example": 200
                              },
                              "complement": {
                                "type": "string",
                                "example": "Casa 10"
                              },
                              "reference": {
                                "type": "string",
                                "example": "Ao lado da padaria"
                              },
                              "neighborhood": {
                                "type": "string",
                                "example": "Jardins"
                              },
                              "city": {
                                "type": "string",
                                "example": "São Paulo"
                              },
                              "state": {
                                "type": "string",
                                "example": "SP"
                              }
                            }
                          },
                          "statusId": {
                            "type": "string",
                            "example": "APPROVED"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-05-31T22:41:16.755Z"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cliente atualizado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro na atualização do cliente",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "returnCode": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "Cliente sem endereço": {
                      "value": {
                        "data": {
                          "message": "O cliente não possui um endereço cadastrado, para cadastrar é necessário informar todos os campos do endereço.",
                          "returnCode": -7406
                        }
                      }
                    },
                    "Erro não mapeado": {
                      "value": {
                        "data": {
                          "message": "Erro ao atualizar cliente",
                          "returnCode": -7404
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "description": "Remove um cliente específico do sistema. Esta operação é irreversível e deve ser utilizada com cautela.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "description": "Identificador único do cliente",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Cliente removido com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Cliente removido com sucesso"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cliente removido com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao remover cliente",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "returnCode": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "Cliente não encontrado": {
                      "value": {
                        "data": {
                          "message": "Cliente não encontrado",
                          "returnCode": -7400
                        }
                      }
                    },
                    "Erro ao deletar": {
                      "value": {
                        "data": {
                          "message": "Erro ao deletar cliente",
                          "returnCode": -7405
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cards/tokenize": {
        "post": {
          "description": "Tokeniza um cartão de crédito e o associa a um cliente específico. A tokenização é um processo de segurança que substitui os dados sensíveis do cartão por um token único e seguro. Este token pode ser utilizado para realizar compras futuras sem a necessidade de informar novamente os dados do cartão.\n\n**Importante:**\n- Os dados do cartão são criptografados e armazenados de forma segura\n- O token gerado é único e específico para cada cartão\n- O token pode ser utilizado apenas para o cliente ao qual foi associado\n- A tokenização reduz riscos de segurança ao não expor os dados reais do cartão",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customerId",
                    "holderName",
                    "cardNumber",
                    "expirationMonth",
                    "expirationYear",
                    "securityCode"
                  ],
                  "properties": {
                    "customerId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Identificador único do cliente ao qual o cartão será associado",
                      "example": "8b7c2dd1-e1bf-479f-a5ec-8871ef355b50"
                    },
                    "holderName": {
                      "type": "string",
                      "description": "Nome do titular do cartão, exatamente como aparece no cartão",
                      "example": "João Silva"
                    },
                    "cardNumber": {
                      "type": "string",
                      "description": "Número do cartão de crédito, sem espaços ou caracteres especiais. Precisa ter entre 13 e 16 dígitos.",
                      "example": "0000000000000000"
                    },
                    "expirationMonth": {
                      "type": "string",
                      "description": "Mês de expiração do cartão no formato MM. Precisa ser um número entre 01 e 12.",
                      "example": "10"
                    },
                    "expirationYear": {
                      "type": "string",
                      "description": "Ano de expiração do cartão no formato YYYY. Precisa ser um número de 4 dígitos.",
                      "example": "2031"
                    },
                    "securityCode": {
                      "type": "string",
                      "description": "Código de segurança do cartão (CVV). Precisa ter entre 3 e 4 dígitos.",
                      "example": "123"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Cartão tokenizado com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único do token do cartão. Será utilizado para realizar transações futuras.",
                            "example": "023924d3-9e6d-4231-832e-4237c1b0cd53"
                          },
                          "customerId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único do cliente ao qual o cartão foi associado",
                            "example": "8b7c2dd1-e1bf-479f-a5ec-8871ef355b50"
                          },
                          "holderName": {
                            "type": "string",
                            "description": "Nome do titular do cartão",
                            "example": "João Silva"
                          },
                          "first4Digits": {
                            "type": "string",
                            "description": "Primeiros 4 dígitos do cartão",
                            "example": "0000"
                          },
                          "last4Digits": {
                            "type": "string",
                            "description": "Últimos 4 dígitos do cartão",
                            "example": "0000"
                          },
                          "expirationMonth": {
                            "type": "string",
                            "description": "Mês de expiração do cartão",
                            "example": "10"
                          },
                          "expirationYear": {
                            "type": "string",
                            "description": "Ano de expiração do cartão",
                            "example": "2031"
                          },
                          "cardBrand": {
                            "type": "string",
                            "description": "Bandeira do cartão",
                            "example": "MasterCard"
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Indica se o cartão está ativo",
                            "example": true
                          },
                          "isVerified": {
                            "type": "boolean",
                            "description": "Indica se o cartão foi verificado",
                            "example": false
                          },
                          "postalCodeCheck": {
                            "type": "boolean",
                            "description": "Indica se o CEP do cartão foi verificado",
                            "example": false
                          },
                          "securityCodeCheck": {
                            "type": "boolean",
                            "description": "Indica se o código de segurança do cartão foi verificado",
                            "example": false
                          },
                          "addressCheck": {
                            "type": "boolean",
                            "description": "Indica se o endereço do cartão foi verificado",
                            "example": false
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cartão tokenizado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao tokenizar cartão",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "returnCode": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "Cartão inválido": {
                      "value": {
                        "data": {
                          "message": "O cartão informado é inválido",
                          "returnCode": -7209
                        }
                      }
                    },
                    "Erro genérico": {
                      "value": {
                        "data": {
                          "message": "Erro ao tokenizar cartão",
                          "returnCode": -7208
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/cards/{tokenizedCardId}": {
        "get": {
          "description": "Busca os dados de um cartão tokenizado específico. Esta rota retorna informações parciais do cartão (apenas os primeiros e últimos 4 dígitos) por questões de segurança, mantendo os dados sensíveis protegidos.\n\n**Importante:**\n- Apenas os primeiros e últimos 4 dígitos do cartão são retornados\n- Os dados completos do cartão nunca são expostos na API\n- O cartão só pode ser consultado se pertencer ao cliente associado",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "tokenizedCardId",
              "in": "path",
              "description": "Identificador único do token do cartão",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Cartão encontrado com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único do token do cartão",
                            "example": "6941e55c-4e66-47c9-b698-c116f4005258"
                          },
                          "customerId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único do cliente ao qual o cartão está associado",
                            "example": "9e6ce99e-0ad5-4e38-b5af-ae44160e8fda"
                          },
                          "holderName": {
                            "type": "string",
                            "description": "Nome do titular do cartão",
                            "example": "João Silva"
                          },
                          "first4Digits": {
                            "type": "string",
                            "description": "Primeiros 4 dígitos do cartão",
                            "example": "0000"
                          },
                          "last4Digits": {
                            "type": "string",
                            "description": "Últimos 4 dígitos do cartão",
                            "example": "0000"
                          },
                          "expirationMonth": {
                            "type": "string",
                            "description": "Mês de expiração do cartão",
                            "example": "10"
                          },
                          "expirationYear": {
                            "type": "string",
                            "description": "Ano de expiração do cartão",
                            "example": "2031"
                          },
                          "cardBrand": {
                            "type": "string",
                            "description": "Bandeira do cartão",
                            "example": "MasterCard"
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Indica se o cartão está ativo",
                            "example": true
                          },
                          "isVerified": {
                            "type": "boolean",
                            "description": "Indica se o cartão foi verificado",
                            "example": false
                          },
                          "postalCodeCheck": {
                            "type": "boolean",
                            "description": "Indica se o CEP do cartão foi verificado",
                            "example": false
                          },
                          "securityCodeCheck": {
                            "type": "boolean",
                            "description": "Indica se o código de segurança do cartão foi verificado",
                            "example": false
                          },
                          "addressCheck": {
                            "type": "boolean",
                            "description": "Indica se o endereço do cartão foi verificado",
                            "example": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data e hora em que o cartão foi tokenizado",
                            "example": "2025-06-02T17:51:28.958Z"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cartão encontrado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao buscar cartão",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "returnCode": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "Cartão não encontrado": {
                      "value": {
                        "data": {
                          "message": "Cartão não encontrado",
                          "returnCode": -7508
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "description": "Remove um cartão tokenizado específico. Esta operação é irreversível e deve ser utilizada com cautela. Após a remoção, o token não poderá mais ser utilizado para realizar transações.\n\n**Importante:**\n- A operação é irreversível\n- O cartão só pode ser removido se pertencer ao cliente associado\n- Após a remoção, o token não poderá mais ser utilizado",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "tokenizedCardId",
              "in": "path",
              "description": "Identificador único do token do cartão",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Cartão removido com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "Cartão deletado com sucesso"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Cartão deletado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao remover cartão",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "returnCode": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "Cartão não encontrado": {
                      "value": {
                        "data": {
                          "message": "Cartão não encontrado",
                          "returnCode": -7508
                        }
                      }
                    },
                    "Erro genérico": {
                      "value": {
                        "data": {
                          "message": "Erro ao deletar cartão",
                          "returnCode": -7509
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/subscriptions": {
        "post": {
          "description": "Cria uma nova assinatura recorrente para um cliente. As assinaturas recorrentes permitem cobrar automaticamente um valor fixo em intervalos regulares, facilitando a gestão de pagamentos recorrentes.\n\n**Fluxo de funcionamento:**\n1. A assinatura é criada com os dados do cliente, cartão, valores e frequência\n2. No dia especificado em `dueDate`, é realizada a primeira cobrança\n3. As cobranças subsequentes ocorrem automaticamente de acordo com a `frequency` definida\n4. O sistema respeita o `tolerancePeriod` para tentativas de cobrança em caso de falha\n5. A assinatura pode ter duração limitada (`duration`) ou ser vitalícia\n6. É possível definir uma data de expiração (`expirationDate`) para encerramento automático\n\n**Vantagens:**\n- Automatização de cobranças recorrentes\n- Gestão simplificada de assinaturas\n- Suporte a diferentes frequências de cobrança\n- Possibilidade de split entre subcontas\n- Período de tolerância para tentativas de cobrança\n- Flexibilidade na duração e expiração\n\n**Validações importantes:**\n- O cliente e o cartão devem existir e estar ativos\n- A data de início (`dueDate`) não pode ser no passado\n- O valor total dos splits deve somar 100% ou o valor total da assinatura\n- Apenas uma subconta pode ser responsável por chargebacks\n- O período de tolerância é opcional e deve ser maior que 0\n- O valor de setup é opcional e deve ser maior que 100 (R$ 1,00) quando informado",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customerId",
                    "tokenizedCardId",
                    "title",
                    "amount",
                    "frequency",
                    "dueDate"
                  ],
                  "properties": {
                    "customerId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Identificador único do cliente que terá a assinatura",
                      "example": "536feaf7-014b-4ad3-a2db-f14897bc2275"
                    },
                    "tokenizedCardId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Identificador único do cartão tokenizado que será utilizado para as cobranças",
                      "example": "10aaa074-dd95-4bdb-9618-f81e6fdc1e17"
                    },
                    "title": {
                      "type": "string",
                      "description": "Título/descrição da assinatura",
                      "example": "Plano Premium Mensal"
                    },
                    "amount": {
                      "type": "integer",
                      "description": "Valor da assinatura em centavos",
                      "example": 2990
                    },
                    "setupAmount": {
                      "type": "integer",
                      "description": "Valor de setup do plano em centavos. Opcional. Se preenchido, deve ser maior que 100 (R$ 1,00).",
                      "example": 1000
                    },
                    "frequency": {
                      "type": "integer",
                      "description": "Frequência em dias que será cobrado (ex: 7 para semanal, 30 para mensal)",
                      "example": 30
                    },
                    "duration": {
                      "type": "integer",
                      "description": "Duração em ciclos (quantas vezes será cobrado). Opcional, se não informado será vitalício.",
                      "example": 12
                    },
                    "dueDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Data de início da cobrança. Não pode ser uma data que já passou.",
                      "example": "2025-06-04"
                    },
                    "expirationDate": {
                      "type": "string",
                      "format": "date",
                      "description": "Data que expira a cobrança. Opcional, se não informado não expira.",
                      "example": "2026-06-04"
                    },
                    "tolerancePeriod": {
                      "type": "integer",
                      "description": "Período de tolerância para atrasos em dias. Opcional.",
                      "example": 5
                    },
                    "split": {
                      "type": "array",
                      "description": "Array para divisão dos valores entre subcontas. Pode ser feito até 20 splits por pagamento.",
                      "maxItems": 20,
                      "items": {
                        "type": "object",
                        "required": [
                          "subaccountId",
                          "splitType",
                          "chargebackLiable"
                        ],
                        "properties": {
                          "subaccountId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único da subconta que receberá parte do valor",
                            "example": "c873d310-d2eb-41da-adaa-36fc8900fb99"
                          },
                          "splitType": {
                            "type": "string",
                            "enum": ["percentage", "amount"],
                            "description": "Tipo de divisão do valor (percentual ou valor fixo)",
                            "example": "percentage"
                          },
                          "splitPercentage": {
                            "format": "float",
                            "description": "Percentual maior que 0.1 e menor que 100. Obrigatório se splitType for percentage. Aceita valores decimais com até 2 casas (ex: 80 ou 80.50)",
                            "example": 80
                          },
                          "splitAmount": {
                            "type": "integer",
                            "description": "Valor em centavos maior que 0. Obrigatório se splitType for amount.",
                            "example": 80
                          },
                          "chargebackLiable": {
                            "type": "boolean",
                            "description": "Indica se a subconta será responsável pelos chargebacks. Apenas uma subconta pode ser responsável.",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Assinatura criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único da assinatura",
                            "example": "0b756e37-d852-4aa6-ae10-80e4b35e5cd7"
                          },
                          "customerId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único do cliente",
                            "example": "536feaf7-014b-4ad3-a2db-f14897bc2275"
                          },
                          "cardId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identificador único do cartão tokenizado",
                            "example": "10aaa074-dd95-4bdb-9618-f81e6fdc1e17"
                          },
                          "title": {
                            "type": "string",
                            "description": "Título/descrição da assinatura",
                            "example": "Plano Premium Mensal"
                          },
                          "amount": {
                            "type": "integer",
                            "description": "Valor da assinatura em centavos",
                            "example": 2990
                          },
                          "setupAmount": {
                            "type": "integer",
                            "description": "Valor de setup do plano em centavos",
                            "example": 1000
                          },
                          "frequency": {
                            "type": "integer",
                            "description": "Frequência em dias que será cobrado",
                            "example": 30
                          },
                          "duration": {
                            "type": "integer",
                            "description": "Duração em ciclos",
                            "example": 12
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date",
                            "description": "Data de início da cobrança",
                            "example": "2025-06-04"
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date",
                            "description": "Data que expira a cobrança",
                            "example": "2026-06-04"
                          },
                          "tolerancePeriod": {
                            "type": "integer",
                            "description": "Período de tolerância para atrasos em dias",
                            "example": 5
                          },
                          "status": {
                            "type": "string",
                            "description": "Status atual da assinatura",
                            "example": "ACTIVE"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data e hora de criação da assinatura",
                            "example": "2025-06-04T23:00:54.887Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data e hora da última atualização da assinatura",
                            "example": "2025-06-04T23:00:54.887Z"
                          },
                          "canceledAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Data e hora do cancelamento da assinatura, se cancelada",
                            "example": null
                          },
                          "splits": {
                            "type": "array",
                            "description": "Array com a divisão dos valores entre subcontas",
                            "items": {
                              "type": "object",
                              "properties": {
                                "subaccountId": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "Identificador único da subconta",
                                  "example": "c873d310-d2eb-41da-adaa-36fc8900fb99"
                                },
                                "splitType": {
                                  "type": "string",
                                  "description": "Tipo de divisão do valor",
                                  "example": "percentage"
                                },
                                "splitPercentage": {
                                  "type": "number",
                                  "description": "Percentual do valor",
                                  "example": 80
                                },
                                "splitAmount": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "Valor fixo em centavos",
                                  "example": null
                                },
                                "liquidAmount": {
                                  "type": "integer",
                                  "description": "Valor líquido que a subconta receberá em centavos",
                                  "example": 2392
                                },
                                "chargebackLiable": {
                                  "type": "boolean",
                                  "description": "Indica se a subconta é responsável por chargebacks",
                                  "example": true
                                }
                              }
                            }
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Assinatura criada com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da assinatura",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "returnCode": {
                            "type": "integer"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "subaccountId": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "errors": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
[...]
