{
    "openapi": "3.1.0",
    "info": {
      "title": "OpenAPI Super APIs",
      "description": "Documentação das APIs destinada a companhias da Super Pagamentos",
      "license": {
        "name": "MIT"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://sandbox.superpagamentos.com"
      }
    ],
    "paths": {
      "/auth": {
        "post": {
          "description": "A rota `/auth` gera tokens JWT com duração de 3600 segundos. Com esses tokens é possível autenticar as demais rotas da aplicação para.\n\n Recomenda-se **nunca armazenar as chaves em ambientes front-end**, sempre utilizar em **ambientes protegidos por um certificado SSL** e **NUNCA compartilhar suas credenciais** com outras pessoas (nem mesmo do Suporte da Super).",
          "requestBody": {
            "description": "Gere um token de autenticação JWT (Json Web Tokens) com duração de 3600s utilizando a sua Public Key e Secret Key. Esse token será utilizado para autenticar as demais APIs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authenticate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Autenticação realizada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "description": "Esse token será utilizado para autenticar as demais APIs.",
                            "type": "string",
                            "example": "<access_token>"
                          },
                          "refresh_token": {
                            "description": "Esse token será utilizado para atualizar o token de acesso.",
                            "type": "string",
                            "example": "<refresh_token>"
                          },
                          "expires_in": {
                            "description": "Duração do token de acesso em segundos.",
                            "type": "string",
                            "example": "3600s"
                          }
                        }
                      },
                      "message": {
                        "type": "string",
                        "example": "Usuário autenticado com sucesso"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/authenticateErrorResponse"
                  },
                  "examples": {
                    "Credenciais inválidas": {
                      "value": {
                        "data": {
                          "message": "As credenciais fornecidas são inválidas",
                          "returnCode": -1000
                        }
                      }
                    },
                    "Campos não informados": {
                      "value": {
                        "data": {
                          "message": [
                            "A privateKey está em um formato incorreto",
                            "privateKey must be a string"
                          ],
                          "error": "Bad Request",
                          "statusCode": 400
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },

      "/bank_accounts": {
        "post": {
          "description": "Crie uma nova conta bancária para a empresa.\n\nA criação de uma conta bancária é **essencial para realizar saques** dos valores recebidos através da Super Pagamentos. \n\n**Importante:** A conta bancária deve obrigatoriamente pertencer ao mesmo titular/CNPJ da conta na Super Pagamentos. Contas bancárias de terceiros não são aceitas por questões de segurança e conformidade.\n\n**Tipos de conta aceitos:**\n- Conta Corrente\n- Conta Poupança\n\n**Documentação necessária:**\n- A conta bancária deve estar no mesmo nome/CNPJ cadastrado na Super Pagamentos\n- Todos os dados bancários devem estar corretos e atualizados",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "description": "Dados necessários para criação de uma conta bancária",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createBankAccount"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Conta bancária criada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro na criação da conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Campos não informados": {
                      "value": {
                        "data": {
                          "message": [
                            "O nome do beneficiário \"holderName\" deve ser um texto válido",
                            "O nome do beneficiário \"holderName\" é obrigatório",
                            "O código do banco \"bankCode\" deve ser um texto válido",
                            "O código do banco \"bankCode\" é obrigatório",
                            "O tipo de conta \"accountType\" deve ser CHECKING ou SAVINGS",
                            "O tipo de conta \"accountType\" é obrigatório",
                            "O número da conta \"accountNumber\" deve estar no formato conta-dv (ex: 12345-6)",
                            "O número da conta \"accountNumber\" deve ser um texto válido",
                            "O número da conta \"accountNumber\" é obrigatório",
                            "O número da agência \"routingNumber\" deve estar no formato agência-dv (ex: 0001-0)",
                            "O número da agência \"routingNumber\" deve ser um texto válido",
                            "O número da agência \"routingNumber\" é obrigatório",
                            "O documento \"document\" deve ser um texto válido",
                            "O documento \"document\" (CPF/CNPJ) é obrigatório"
                          ],
                          "error": "Bad Request",
                          "statusCode": 400
                        }
                      }
                    },
                    "Erro genérico": {
                      "value": {
                        "data": {
                          "message": "Erro ao criar conta bancária. Verifique os dados informados ou entre em contato com o suporte.",
                          "returnCode": -7000
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "get": {
          "description": "Lista todas as contas bancárias cadastradas para a empresa. A resposta inclui informações detalhadas de cada conta, como dados do titular, dados bancários e status da conta. Os resultados são paginados para melhor performance.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "description": "Número da página que deseja visualizar",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 1,
                "minimum": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Quantidade de itens por página",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 1,
                "maximum": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Listagem de contas bancárias",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/listBankAccountsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/bank_accounts/{bankAccountId}": {
        "get": {
          "description": "Busca os dados de uma conta bancária específica que pertence à empresa cadastrada. A resposta inclui informações detalhadas da conta, como dados do titular, dados bancários e status da conta.",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "bankAccountId",
              "in": "path",
              "description": "Identificador único da conta bancária",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Conta bancária encontrada com sucesso",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/getBankAccountResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Erro ao buscar conta bancária",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/bankAccountErrorResponse"
                  },
                  "examples": {
                    "Conta não encontrada": {
                      "value": {
                        "data": {
                          "message": "Conta bancária não encontrada",
                          "returnCode": -7100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "authenticate": {
          "allOf": [
            {
              "type": "object",
              "properties": {
                "publicKey": {
                  "description": "Chave pública utilizada para identificar a empresa.",
                  "type": "string",
                  "example": "SP-PublicKey"
                },
                "privateKey": {
                  "description": "Chave secreta utilizada para autenticar uma chave pública.",
                  "type": "string",
                  "example": "SP-SecretKey"
                }
              }
            }
          ]
        },
        "authenticateErrorResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "message": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "returnCode": {
                  "type": "integer",
                  "format": "int32"
                },
                "error": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },

        "createBankAccount": {
          "type": "object",
          "required": [
            "holderName",
            "bankCode",
            "routingNumber",
            "accountNumber",
            "accountType",
            "holderName",
            "document"
          ],
          "properties": {
            "holderName": {
              "description": "Nome do benefíciario da conta",
              "type": "string",
              "example": "EMPRESA EXEMPLO LTDA"
            },
            "bankCode": {
              "description": "Código do banco",
              "type": "string",
              "example": "001"
            },
            "routingNumber": {
              "description": "Número da agência com dígito verificador.Se não possuir DV, coloque 0 após o hífen",
              "type": "string",
              "example": "1234-0"
            },
            "accountNumber": {
              "description": "Número da conta com dígito verificador. Se não possuir DV, coloque 0 após o hífen",
              "type": "string",
              "example": "123456-78"
            },
            "accountType": {
              "description": "Tipo da conta bancária",
              "type": "string",
              "enum": ["SAVINGS", "CHECKING"],
              "example": "SAVINGS"
            },
            "document": {
              "description": "CPF ou CNPJ do benefíciario da conta",
              "type": "string",
              "example": "12345678901"
            }
          }
        },
        "bankAccountResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "holderName": {
                  "type": "string",
                  "example": "Empresa Teste LTDA"
                },
                "bankCode": {
                  "type": "string",
                  "example": "001"
                },
                "routingNumber": {
                  "type": "string",
                  "example": "0001-00"
                },
                "accountNumber": {
                  "type": "string",
                  "example": "12345678-00"
                },
                "document": {
                  "type": "string",
                  "example": "00000000000"
                },
                "accountType": {
                  "type": "string",
                  "example": "CHECKING"
                },
                "status": {
                  "type": "string",
                  "example": "APPROVED"
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Conta bancária criada com sucesso"
            }
          }
        },
        "bankAccountErrorResponse": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "properties": {
                "message": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "returnCode": {
                  "type": "integer",
                  "format": "int32"
                },
                "error": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "listBankAccountsResponse": {
          "type": "object",
          "properties": {
            "data": {
              "description": "Lista de contas bancárias",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificador único da conta bancária",
                    "type": "integer",
                    "example": 1237864
                  },
                  "holderName": {
                    "description": "Nome do beneficiário da conta",
                    "type": "string",
                    "example": "Empresa Teste LTDA"
                  },
                  "bankCode": {
                    "description": "Código do banco",
                    "type": "string",
                    "example": "001"
                  },
                  "routingNumber": {
                    "description": "Número da agência com dígito verificador",
                    "type": "string",
                    "example": "0001-00"
                  },
                  "accountNumber": {
                    "description": "Número da conta com dígito verificador",
                    "type": "string",
                    "example": "12345678-00"
                  },
                  "document": {
                    "description": "CPF ou CNPJ do beneficiário da conta",
                    "type": "string",
                    "example": "59163721000165"
                  },
                  "accountType": {
                    "description": "Tipo da conta bancária",
                    "type": "string",
                    "example": "CHECKING"
                  },
                  "status": {
                    "description": "Status atual da conta bancária",
                    "type": "string",
                    "example": "APPROVED"
                  },
                  "createdAt": {
                    "description": "Data e hora de criação da conta bancária",
                    "type": "string",
                    "format": "date-time",
                    "example": "2025-05-15T20:54:35.106Z"
                  }
                }
              }
            },
            "meta": {
              "description": "Dados de paginação",
              "type": "object",
              "properties": {
                "total": {
                  "description": "Total de contas bancárias cadastradas",
                  "type": "integer",
                  "example": 11
                },
                "page": {
                  "description": "Página atual da listagem",
                  "type": "integer",
                  "example": 1
                },
                "limit": {
                  "description": "Quantidade de itens por página",
                  "type": "integer",
                  "example": 10
                },
                "totalPages": {
                  "description": "Total de páginas disponíveis",
                  "type": "integer",
                  "example": 2
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Listagem de contas bancárias"
            }
          }
        },
        "getBankAccountResponse": {
          "type": "object",
          "properties": {
            "data": {
              "description": "Dados da conta bancária",
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identificador único da conta bancária",
                  "type": "integer",
                  "example": 1
                },
                "holderName": {
                  "description": "Nome do beneficiário da conta",
                  "type": "string",
                  "example": "Empresa Teste LTDA"
                },
                "bankCode": {
                  "description": "Código do banco",
                  "type": "string",
                  "example": "001"
                },
                "routingNumber": {
                  "description": "Número da agência com dígito verificador",
                  "type": "string",
                  "example": "0001-00"
                },
                "accountNumber": {
                  "description": "Número da conta com dígito verificador",
                  "type": "string",
                  "example": "12345678-00"
                },
                "document": {
                  "description": "CPF ou CNPJ do beneficiário da conta",
                  "type": "string",
                  "example": "12345678000199"
                },
                "accountType": {
                  "description": "Tipo da conta bancária",
                  "type": "string",
                  "example": "CHECKING"
                },
                "status": {
                  "description": "Status atual da conta bancária",
                  "type": "string",
                  "example": "APPROVED"
                },
                "createdAt": {
                  "description": "Data e hora de criação da conta bancária",
                  "type": "string",
                  "format": "date-time",
                  "example": "2025-05-14T17:30:26.877Z"
                }
              }
            },
            "message": {
              "type": "string",
              "example": "Conta bancária encontrada com sucesso"
            }
          }
        }
      },
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "description": "Token JWT gerado na rota de autenticação (/auth). Deve ser enviado no formato: Bearer <token>"
        }
      }
    }
  }